@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #4f92dd, #a0b2c4);
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 15px;
}

.center h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(43, 129, 199);
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #696666;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #1b7dbe;
    transition: .5s;
}

.text-field input:focus~label,
.text-field input:valid~label {
    top: -5px;
    color: #2691d9;
}

.text-field input:focus~span::before,
.text-field input:valid~span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

#result {
    color: rgb(248, 20, 20);
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #696666;
}

.signup_link a {
    color: #0d88da;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}

img {
    width: 100px;
    height: 100px;
}


/*nav-bar.hbs*/

h3 {
    text-align: center;
    margin-top: 10px;
    position: 0px;
    font-size: 40px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation {
    position: relative;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    /* 100% */
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    padding-left: 0px;
    width: 100%;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 800px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5%;
    color: rgb(59, 149, 223);
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: rgb(59, 149, 223);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -60%;
    margin-left: 57px;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    border: 6px solid #4f92dd;
    transition: 0.05s;
}


/*.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 0 0 var(--clr);
}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}*/

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(-17px);
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(143px);
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(303px);
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(463px);
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(623px);
}


/* signinsuccess*/

#center {
    text-align: center;
}

#center h3 {
    color: rgb(90, 173, 90);
}

.box {
    margin-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 100%;
    background: rgb(238, 246, 252);
    overflow-y: scroll;
}

.box h3 {
    color: #4f92dd;
    padding-top: 20px;
    font-size: 30px;
    border-bottom: 2px solid #359feb;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


/* .inbox{
    left:20px;
	height:100px;
	top: 20px;
	width: 95%;
	border:1px solid #add0e9;		
	position:relative;
}
.inbox:hover{
	background:#ecf2f7;
	cursor:pointer;
}
.inbox #content{
	padding:0px 0 0 0;			
	float:left;
	width:220px;
} */

.people {
    position: absolute;
    list-style-type: none;
    width: 95%;
    left: -1.5%;
    top: 252px;
    line-height: 0.7em;
}

.person {
    padding: 35px 0 12px 12px;
    border-bottom: 1px solid #94d6f5;
    cursor: pointer;
}

.person:hover {
    background: #F9FBFF;
    transition: all .3s ease-in-out;
}

.title {
    font-size: 1em;
    margin-left: 14px;
    letter-spacing: 1px;
    color: #8a8b8b;
}

.person .icon {
    color: rgb(59, 149, 223);
    font-size: 1.5em;
    position: absolute;
    right: 20px;
}


/* chat */

.container {
    position: relative;
    width: 100%;
    height: 450px;
}

.chatbox {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba( #777777, 0.5);
}

.top-bar {
    width: 100%;
    height: 100px;
    background: #fbfcfd;
    border-radius: 10px 10px 0 0;
}


/* .top-bar .icon{
	color:rgb(59, 149, 223);
	font-size: 1.5em;
	right:20px;
	position: relative;
    display: block;
    line-height: 75px;
  } */

.top-bar img {
    padding-top: 20px;
    padding-right: 25px;
    width: 40px;
    height: 40px;
    float: right;
}

.avatar {
    width: 75px;
    height: 75px;
    background: linear-gradient(to bottom left, #339aca 20%, #d2d9db 100%);
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 15px;
}

.avatar p {
    font-size: 30px;
    color: #F9FBFF;
    margin: 15px 27px;
}

.name {
    position: absolute;
    top: 30px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5592a7;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
    left: 100px;
}

.menu {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

.menu:hover {
    transform: scale(1.1);
    transition: all .3s ease-in;
}

.middle {
    position: absolute;
    background: #cbe8f5;
    width: 100%;
    opacity: 0.85;
    top: 100px;
    height: 80vh;
    overflow-y: auto;
}

.incoming {
    position: relative;
    width: 75%;
    height: 100%;
    padding: 20px;
}

.incoming .bubble {
    border-radius: 20px;
    position: relative;
    display: inline-block;
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 10px 10px 10px 12px;
    background: hsl(210, 2%, 78%);
}

.outgoing {
    position: relative;
    padding: 20px;
    right: 0;
    width: 100%;
    height: 100%;
    float: right;
}

.outgoing .bubble {
    border-radius: 20px;
    position: relative;
    display: inline-block;
    color: whitesmoke;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 10px 10px 10px 12px;
    background: #87bfda;
    float: right;
}

.middle #drop-region {
    top: 30vh;
    height: 50vh;
    position: absolute;
    width: 100%;
}

.bottom-bar {
    top: 90vh;
    position: absolute;
    width: 100%;
    height: 9.8vh;
    bottom: 0;
    background: whitesmoke;
    border-radius: 0 0 10px 10px;
}

.bottom-bar input {
    padding: 7px;
    width: 74%;
    left: 5%;
    position: absolute;
    border: 0;
    top: 13px;
    background: whitesmoke;
    color: #5592a7;
    font-size: 1em;
}

.bottom-bar input::placeholder {
    color: #5592a7;
}

.bottom-bar input:focus {
    color: #8b8686;
    outline: 0;
    font-size: 1em;
}

.bottom-bar button {
    position: absolute;
    border: 0;
    font-size: 2em;
    color: #19b2e6;
    top: 19px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 0.8;
    right: 17px;
    cursor: pointer;
    outline: 0;
}

.bottom-bar button:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    color: #a2d7f0;
}

.image-upload .icon {
    position: relative;
    border: 0;
    font-size: 2em;
    color: #19b2e6;
    top: 19px;
    width: 70px;
    height: 70px;
    background: rgb(253, 247, 247);
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
}

.image-upload>input {
    display: none;
}

.hide {
    display: none;
}

#image-display {
    float: left;
    clear: both;
    position: absolute;
    margin: 10px;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px dashed rgb(223, 221, 221);
    user-select: none;
}

#image-display img {
    width: 80%;
    height: 80%;
}

.img-message img {
    width: 500px;
    height: 300px;
}

#close {
    float: right;
    position: relative;
    font-size: 1em;
    right: 70px;
}

.dropzone {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 175ms, opacity 175ms;
}