<li class="list">
    <a {{action "logout"}} href="/" >
        <span class="icon">
            <ion-icon name="log-out-outline"></ion-icon>
        </span>
        <span class="text">Logout</span>
    </a>
</li>