<div class="request">
    <a {{action "sendRequest" @name}} href="#">
        <span class="icon" title="send request">
            <ion-icon name="paper-plane-outline"></ion-icon>
        </span>
    </a>
</div>