<div class="center">
    <div id="center">
        <br>
        <img src="../assets/images/tick2.jpg" alt="success">
        <h3>Your account created successfully!!!</h3>
        <h5>Now you are a new member:)</h5>
        <div class="signup_link">
            <LinkTo @route="index">Click me to go to login page</LinkTo>
        </div>
    </div>

</div>